.title-menu {
    font-size: 200%;
    text-align: center;
    background-color: lightgrey;
}
h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    margin :0;
}
.pict {
    text-align: center;
}
#nama {
    font-size: 150%;
}
#foto {
    border-radius: 100%;
}
#capt{
    text-align: center;
}
.list{
    margin-left: 15%;
    margin-right:15%;
}